/* active window and title text color */
.titlebar-color:not(:-moz-window-inactive){
color: AccentColorText;
background-color: AccentColor;
}

/* inactive window and title text color */
.titlebar-color{
color: color-mix(in srgb, AccentColorText 75%, transparent);
background-color: color-mix(in srgb, AccentColor 75%, white);
}

/* not selected tabs transparent container */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background{
background-color: color-mix(in srgb, currentColor 10%, transparent);
}